In [22]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [23]:
li = ["abc", 34, 4.34, 23]
st = "Hello World"
print(st)

Hello World

In [24]:
print(li)

['abc', 34, 4.34, 23]

In [26]:
st = 'Hello World'
"""This is a multi-linestring that uses triple quotes."""

'This is a multi-linestring that uses triple quotes.'

In [27]:
print(st)

Hello World

In [28]:
tu = (23, 'abc', 4.56, (2,3),'def')
tu[1] # Second item in the tuple.

'abc'

In [29]:
li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

34

In [30]:
print(st)

Hello World

In [32]:
st = "Hello World"
st[1] # Second character in string.

'e'