In [22]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [23]:
li = ["abc", 34, 4.34, 23]
st = "Hello World"
print(st)

Hello World

In [24]:
print(li)

['abc', 34, 4.34, 23]

In [26]:
st = 'Hello World'
"""This is a multi-linestring that uses triple quotes."""

'This is a multi-linestring that uses triple quotes.'

In [27]:
print(st)

Hello World

In [28]:
tu = (23, 'abc', 4.56, (2,3),'def')
tu[1] # Second item in the tuple.

'abc'

In [29]:
li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

34

In [30]:
print(st)

Hello World

In [32]:
st = "Hello World"
st[1] # Second character in string.

'e'

In [35]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[-3]

4.56

In [38]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]

('abc', 4.56, (2, 3))

In [37]:
t[1:-1]

('abc', 4.56, (2, 3))

In [39]:
t[1:-1:2]

('abc', (2, 3))

In [40]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [41]:
t[2:]

(4.56, (2, 3), 'def')

In [42]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [44]:
t = [1, 2, 4, 5]
3 in t

False

In [46]:
4 in t

True

In [45]:
4 not in t

False

In [48]:
a = 'abcde'
'c' in a

True

In [49]:
'cd' in a

True

In [50]:
'ac' in a

False

In [51]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [ ]:
[1, 2, 3] + [4, 5, 6]